# Environment Variables
NODE_ENV=development
PORT=5000

# MongoDB
MONGODB_URI=mongodb://jokhendra:jokhendra@123@ac-8jchgut-shard-00-00.nbehezj.mongodb.net:27017,ac-8jchgut-shard-00-01.nbehezj.mongodb.net:27017,ac-8jchgut-shard-00-02.nbehezj.mongodb.net:27017/procurement_db?ssl=true&replicaSet=atlas-12gtc7-shard-0&authSource=admin

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
JWT_REFRESH_EXPIRES_IN=30d

# File Upload
UPLOAD_DIR=uploads_data
MAX_FILE_SIZE=5242880
